---
import type { HTMLAttributes } from "astro/types";
type Props = {
  collection: string;
  post: {
    id: string;
    data: {
      title: string;
      description: string;
      pubDate: string;
      heroImage: string;
      tags: string[];
      collection: string;
      sourceCode?: string; // Optional source code link
    };
  };
  putCollectionTag?: boolean;
} & HTMLAttributes<"a">;

const { collection, post, putCollectionTag, ...props } = Astro.props;

// Base URL sin barra final (ej: "/portfolio")
const base = import.meta.env.BASE_URL.replace(/\/$/, "");

// Ruta final corregida
const finalHref = `${base}/${collection}`;
---

<a
  href={`${finalHref}/${post.id}`}
  class="group flex flex-col w-full max-w-md rounded-xl overflow-hidden bg-ctp-mantle hover:shadow-lg transition-transform duration-300 hover:-translate-y-1 shadow border border-ctp-surface1"
  {...props}
>
  <img
    src={post.data.heroImage}
    alt={`Cover image for "${post.data.title}"`}
    class="w-full h-48 sm:h-52 md:h-56 lg:h-60 object-cover transition-opacity duration-300 group-hover:opacity-90"
    loading="lazy"
    decoding="async"
  />
  <div class="flex flex-col gap-2 p-4 md:p-6">
    <h2
      class="text-lg sm:text-xl md:text-2xl font-semibold text-ctp-text leading-snug group-hover:underline"
    >
      {post.data.title}
    </h2>
    <div
      class="flex flex-wrap gap-2 mt-2 text-sm sm:text-base text-ctp-subtext1 items-center"
    >
      {
        putCollectionTag &&
          (collection === "projects" ? (
            <span class="font-semibold bg-ctp-green text-ctp-base text-xs px-2.5 py-0.5 rounded-full flex-shrink-0">
              👨🏻‍💻 {collection.charAt(0).toUpperCase() + collection.slice(1)}
            </span>
          ) : collection === "games" ? (
            <span class="font-semibold bg-ctp-flamingo text-ctp-base text-xs px-2.5 py-0.5 rounded-full flex-shrink-0">
              🎮 {collection.charAt(0).toUpperCase() + collection.slice(1)}
            </span>
          ) : collection === "music" ? (
            <span class="font-semibold bg-ctp-mauve text-ctp-base text-xs px-2.5 py-0.5 rounded-full flex-shrink-0">
              🎵 {collection.charAt(0).toUpperCase() + collection.slice(1)}
            </span>
          ) : null)
      }
      {
        post.data.tags?.map((tag) => (
          <span class="font-semibold bg-ctp-blue text-ctp-base text-xs px-2.5 py-0.5 rounded-full flex-shrink-0">
            {tag}
          </span>
        ))
      }
    </div>

    <div class="flex flex-wrap gap-2 mt-2">
      {
        (
          <p class="text-sm sm:text-base text-ctp-subtext0 leading-relaxed cut-text">
            {post.data.description}
          </p>
        )
      }
    </div>

    <style>
      .cut-text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    </style>
  </div>
</a>
