---
import type { HTMLAttributes } from "astro/types";
type Props = {
  collection: string;
  post: {
    id: string;
    data: {
      title: string;
      description: string;
      pubDate: string;
      heroImage: string;
    };
  };
} & HTMLAttributes<"a">;
const { collection, post, ...props } = Astro.props;

// Base URL sin barra final (ej: "/portfolio")
const base = import.meta.env.BASE_URL.replace(/\/$/, "");

// Ruta final corregida
const finalHref = `${base}/${collection}`;
---

<div
  class="w-full h-full flex flex-col rounded-2xl shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300 bg-ctp-base"
>
  <a href={`${finalHref}/${post.id}`} class="block no-underline h-full">
    <img
      class="w-full aspect-video object-cover rounded-xl mb-2"
      src={post.data.heroImage}
      alt={`Image of ${post.data.title}`}
    />
    <div class="px-8 py-6">
      <div class="font-bold text-2xl mb-4">{post.data.title}</div>
      <div class="cut-text text-lg h-32 max-h-16 overflow-hidden">
        {post.data.description}
      </div>
    </div>
  </a>
</div>

<style>
  .cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Increased lines for bigger card */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
