---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="dark transition-colors duration-300">
  <head>
    <BaseHead title={title} description={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-ctp-surface0 text-ctp-text min-h-screen flex flex-col">
    <Header />
    <main class="grow px-4 md:px-8 py-10">
      <article class="max-w-3xl mx-auto w-full prose prose-invert">
        {
          heroImage && (
            <div class="mb-6">
              <Image
                width={1020}
                height={510}
                src={heroImage}
                alt=""
                class="rounded-lg"
              />
            </div>
          )
        }

        <header class="mb-6">
          <p class="text-sm text-ctp-subtext0">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <span class="block">
                  Last updated on <FormattedDate date={updatedDate} />
                </span>
              )
            }
          </p>
          <h1 class="text-4xl font-bold mt-2">{title}</h1>
          <hr class="mt-4 border-ctp-surface2" />
        </header>

        <section>
          <slot />
        </section>
      </article>
    </main>
    <Footer />
  </body>
</html>
